# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#temp file  2016-5-7  liuke
*.cmd
.missing-syscalls.d
.scmversion
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
usr/.initramfs_data.cpio.d
vmlinux
